.topnav {
            background-color: #ffdae1;
            width: 100%;
            overflow: hidden;
            font-family: "Didot", "Serif", serif;
        }

        .topnav a {
            float: left;
            color: #004f0a;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: "Didot", "Serif", serif;
        }

        .topnav a:hover {
            background-color: rgb(255, 179, 189);
            color: 000C87;
        }

        .topnav a.active {
            background-color: rgb(255, 179, 189);
            color: 000C87;
        }
        
        h2, p{
            font-family: "Didot", "Serif", serif;
            color:  #004f0a;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 3px;
            width: 100%;
            /* background-color: red; */
            color: #004f0a;
            text-align: center;
            font-family: "Didot", "Serif", serif;
            font-size: 20px;
        }

        a:link {
            color: #004f0a;
        }

        a:visited {
            color: #004f0a;
        }

        a:hover {
        color: rgb(15, 162, 42);
        text-decoration: underline;
        }

        a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
        }
