h2, h3 {
  font-family: "Didot", "Serif", serif;
  color:  #004f0a;
}
h1 {
  font-size: 36px;
  font-family: "Didot", "Serif", serif;
  color:  #004f0a;
}
.topnav {
  background-color: rgb(255, 218, 225);
  overflow: hidden;
  font-family: "Didot", "Serif", serif;
}

p {
  font-family: "Didot", "Serif", serif;
  color:  #004f0a;
  font-size: 20px;
}
body {
  background-color: rgb(255, 249, 240);
}

.topnav a {
  float: left;
  color: #004f0a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Didot", "Serif", serif;
}

.topnav a:hover {
  background-color: rgb(255, 179, 189);
  color: #004f0a;
}

.topnav a.active {
  background-color: rgb(255, 179, 189);
  color: #004f0a;
}

footer {
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%;
  color: #004f0a;
  text-align: center;
  font-family: "Didot", "Serif", serif;
  font-size: 20px;
}

a:link {
  color: #004f0a;
}

a:visited {
  color: #004f0a;
}

a:hover {
  color: rgb(15, 162, 42);
}

a:active {
  color: rgb(15, 162, 42);
}


.container {
        display: flex;
        padding: 10px;
        border: #004f0a 2px solid;
}

.item {
    flex: 1;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border: #004f0a 2px solid;
    /* margin: 10px; */
    
}

.item.left {
    background-color: rgb(255, 179, 189);
}

.item.right {
    background-color: rgb(255, 218, 225);
}

.socials a { text-decoration: none; }
.socials img { border: 0; vertical-align: middle; display: inline-block; }
